gunicorn==20.1.0
Flask~=2.2.5
Flask-Bootstrap==3.3.7.1
Flask-CKEditor==0.4.6
Flask-Gravatar==0.5.0
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
DateTime~=5.1
Werkzeug==2.2.3
SQLAlchemy==2.0.16
python-dotenv~=0.21.1
WTForms~=3.0.1
